*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; scroll-behavior: smooth;
}


body{
    overflow-x: hidden  !important;
}

@mixin mainColorFont {
    color: #0732EF;
}
@mixin mainColorBck{
    background-color: #0732EF;
}

.scrollup{
    position: fixed;
    right: 50px;
    bottom: 50px
    ;
    ;display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    i{
        height: 60px;width: 60px;
        border-radius: 50px;
        @include mainColorFont();
        background-color: #D9FB99;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        transition: 0.3s ease-in-out;

        &:hover{
            transform: rotate(180deg);
            cursor: pointer;
        }
        
        
    }
}

a{
    text-decoration: none;
}

// body{
//     padding-bottom: 200px;;
// }

header{
    position: fixed;top: 0;right: 0;left: 0;
    height: 120px; padding: 0px 70px;background-color: white;
    display: flex;z-index: 200;

    div{
        display: flex;;width: 50%;
        align-items: center;height: 100%;
    }

    .hdr1{
        svg{
            margin-top: -15px;transition: transform 0.3s ease-in-out;

            &:hover{
                animation: shake 1s 1;
            }
        }

                @keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}
        gap: 10px;;
        p{
             font-weight: bold;@include mainColorFont();
             font-size: 23px;
        }
    }

    .hdr2{justify-content: end;
        nav{
            ul{
                display: flex;gap: 30px;
                @include mainColorFont();
                font-size: 21px;
                
                label{display: flex;
                       .hdr-log{
                    &:hover{
                        opacity: 0.7 !important;
                        cursor: pointer;
                         @include mainColorFont();
                font-size: 21px;
                    }
                }
                }
             
                li{

                      a{ position: relative;
                    overflow: hidden;

                    &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #0732EF;
                    left: 0;
                    bottom: -5px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                    }

                    &:hover::after {
                    transform: scaleX(1);
                    }

                    }

                    &:hover{
                     
                        cursor: pointer;
                    }
                    i{
                        font-size: 25px;
                    }

                   
                  
                }
             
              
            }
        }
        .check:checked + label > .lineDiv > .line2{
            display: none;
        }
        .check:checked + label > .lineDiv > .line1{
            transform: rotate(45deg) translate(9px);
            transition: 0.3s;
        }
        .check:checked + label > .lineDiv > .line3{
            transform: rotate(-45deg) translate(9px);
            transition: 0.3s;
        }
        .check:checked ~ .navdi{
            display: flex;
        }
        .check:checked ~ .navdi > ul{
            display: flex;
        }

        .check2:checked + label > .hdr-log{
            display: none;
        }
        .check2:checked + label > .sam{
            display: flex;
        }
       .check2:checked ~ .loginform{
        display: flex;
       }

        .login-line1{
            display: none;
                 width: 40px;
            height: 3.5px;
            background-color: #0732EF;
            transform: rotate(-45deg) translate(29px)
             translateY(29px);
             

        }
        .login-line2{
            display: none;
            width: 40px;
            height: 3.5px;
            transform: rotate(45deg) ;
            background-color: #0732EF;
           
        }

        .loginform{
            display: none;
               width: 100%;
            height: 100vh;
            position: fixed;
            left: 0;bottom: 0;
            justify-content: center;
            background-color: rgb(249, 246, 246);
            display: flex;
            align-items: center;
            flex-direction: column;
            display: none;


            form{
                display: flex;
                flex-direction: column;
                gap: 30px;align-items: flex-start;


                 button{
                 width: 250px;
            padding: 10px 20px;
            border: solid 0.5px white;
            border-radius: 50px;@include mainColorBck();
            font-size: 20px;color: white;transition: 0.3s ease-in-out;
            margin-top: 5px;

            &:hover{
                background-color: rgb(217, 251, 153);
                @include mainColorFont();
                cursor: pointer;
            }
            }

                .textareadiv{
                    display: flex;flex-direction: column;
                    align-items: flex-start;width: 100%;
                    gap: 20px;

                    textarea{
                        resize: none;
                         background-color: transparent;
                            border: solid 1px #0732EF;
                            border-radius: 30px;
                            padding: 5px 15px;
                             caret-color: #0732EF;
                            color: #0732EF;
                            font-size: 19px;
                            width: 100%;
                            height: 150px;
                            outline: none;
                    }
                }

                .formrow{
                    display: flex;
                    gap: 20px;

                    .inputdiv{
                        display: flex;flex-direction: column;
                        gap: 10px;width: 300px;

                        p{
                            align-self: flex-start;
                        }

                        input{
                            background-color: transparent;
                            border: solid 1px #0732EF;
                            border-radius: 30px;
                            padding: 5px 15px;
                            width: 300px;
                            height: 40px;
                            caret-color: #0732EF;
                            color: #0732EF;
                            font-size: 19px;
                            outline: none;
                        }
                        
                    }
                }
            }
        }

        .check{
             display: none;
        }
           
          .check2{
                        display: none !important;
                    }

                    

        
        label{
            display:  none;z-index: 5;

            .lineDiv{
                display: flex;flex-direction:column;
                gap: 8px;

                div{
                    width: 40px;height: 4px;
                    @include mainColorBck();border-radius: 20px;
                }
            }
        }

        .navdi{
            width: 100%;
            height: 200vh;
            position: fixed;
            left: 0;bottom: 0;
            top: 120px;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            flex-direction: column;
            display: none;

            ul{
                    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;display: none;
    @include mainColorFont();
    font-size: 25px;


    li{ @include mainColorFont();
        &:hover{
            cursor: pointer;
        }
    }
            }


            .igdv{
                display: flex;gap: 5px;height: 30px;
            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    padding-top: 170px;

    .ourservH{
            display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 50px;

    h1{
        @include mainColorFont();
        font-size: 75px;
    }

    p{
        @include mainColorFont();
        letter-spacing: 1px;
        font-size: 20px;
    }
    }
}

section{
    display: flex;
    width: 100%;
    padding-top: 80px;
    justify-content: center;
    padding-bottom: 150px;

    .sectionMaindiv{
        display: flex;flex-direction: column;
        gap: 25px;
        
        width: 61%;

        .line{
            width: 100%;
            height: 1px;
            @include mainColorBck();
        }

        .servicesrow{
            display: flex;
            gap:  20px;
          
            

            .img{
                background-image: url(https://static.wixstatic.com/media/c837a6_e412e5a83f31467fb89184ba0a993dac~mv2.png/v1/fill/w_175,h_175,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_e412e5a83f31467fb89184ba0a993dac~mv2.png);
                width: 150px;height: 150px;
                background-size: cover;

                &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
            .img2{
                background-image: url(https://static.wixstatic.com/media/c837a6_f06b3eb34ad748708a7b7c73556d3306~mv2.png/v1/fill/w_175,h_175,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_f06b3eb34ad748708a7b7c73556d3306~mv2.png);
                 width: 150px;height: 150px;
                background-size: cover;
                
                  &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }
            .img3{
                width: 150px;height: 150px;
                background-size: cover;
                  &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
               
                background-image: url(https://static.wixstatic.com/media/c837a6_a376d1ad3c6f45af9415d304c12237b2~mv2.png/v1/fill/w_175,h_175,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_a376d1ad3c6f45af9415d304c12237b2~mv2.png);
            }

            .img4{
                 width: 150px;height: 150px;  &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
                background-size: cover;
                background-image: url(https://static.wixstatic.com/media/c837a6_39d0f95293644371a8754c9b6495ccc1~mv2.png/v1/fill/w_175,h_175,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_39d0f95293644371a8754c9b6495ccc1~mv2.png);
            }
            .img5{
                background-image: url(https://static.wixstatic.com/media/c837a6_3e4b708eb2e44db8a8a7e1fbf77dd306~mv2.png/v1/fill/w_175,h_175,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_3e4b708eb2e44db8a8a7e1fbf77dd306~mv2.png);
                 width: 150px;height: 150px;
                background-size: cover;
                  &:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
            }


            .otherrow{
                display: flex;
                justify-content: space-between;
                width: 80%;
                
                
                
                


                .Pcolumn{
                display: flex;flex-direction: column;
                gap: 10px;
                width: 330px;
                justify-content: center;

                .strat{
                    @include mainColorFont();
                    font-weight: bold;
                    font-size: 22px;
                    margin-top: -30px;

                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                    
                }

                .littlep{
                    @include mainColorFont();
                    font-size: 19px;
                    letter-spacing: 1px;
                    line-height: 25px;
                  
                }
            }
            .price{
                @include mainColorFont();
                font-size: 22px;
                letter-spacing: 1px;
                padding-top: 20px;
                ;
            }

            button{
                // width: 100px;
                height: 45px;
                @include mainColorFont();
                background-color: transparent;
                border: solid 0.6px #0732EF;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 19px;
                transition: 0.3s ease-in-out;
                margin-top: 18px;;

                &:hover{
                    @include mainColorBck();
                    text-decoration: underline;
                    color: white;
                    cursor: pointer;
                }
            }
            }

            
        }
    }
}

.lstsectio{
    @include mainColorBck();
    width: 100%;
    height: 300px;
    display: flex;

    .lstcolumn{
        display: flex;flex-direction: column;
        gap: 10px;
       
        width: 80%;


        .gets{
          color: white;
          font-size: 21px;
          

        }

        .book{
            color: white;
            font-size: 40px;
            letter-spacing: 2px;;
        }

         button{
            width: 220px;
            padding: 13px 30px;
            border: solid 0.5px white;
            border-radius: 50px;background-color: transparent;
            font-size: 20px;color: white;transition: 0.3s ease-in-out;
            margin-top: 25px;

            &:hover{
                background-color: rgb(217, 251, 153);
                @include mainColorFont();
                cursor: pointer;
            }
        }
    }
}


footer{
    @include mainColorBck();
    width: 100%;
    height: 800px;
    margin-top: 0px;
    display: grid;
    grid-template-areas:
     'ft1 ft2';

   

     .ft1{
        grid-area: ft1;
        display: grid;
        grid-template-areas: 
        'k k'
        'r d'
        's f'
        'e e';
       
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;

        .keeprising{
            grid-area: k;
           align-self: center;
           justify-self: center;
           width: 500px;
          

            p{
                font-weight: bold;
                font-size: 77px;color: white;
            }
           
        }
        .reach{
            grid-area: r;
            justify-self: flex-end;
            margin-left: -50px;
            align-self: center;

            .flexcolumn{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 300px;

                .rch{
                    color: white;
                    font-weight: bold;
                    font-size: 24px;
                }

                .clmn{
                    display: flex;flex-direction: column;

                    p{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
        .address{
            grid-area: d;
            justify-self: start;
            
            align-self: center;
            .dflex{
                display: flex;
                height: 110px;
                align-items: flex-end;

                 p{
                color: white;
                font-size: 20px;
                width: 200px;
            }
            }

           
        }
        .socials{
            grid-area: s;
            justify-self: end;

            .socialsflex{
                display: flex;flex-direction: column;
                gap: 5px;
                width: 300px;
                
                
                p{
                    color: white;
                    font-size: 20px;
                }
            }
        }
         .faq{
                grid-area: f;
                ;
                

                .faqflex{
                    display: flex;flex-direction: column;
                   
                      a{
                        width: 180px;
                    }
                    


                    p{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
            .footerendp{
                align-self: flex-end;
                justify-self: center;
                margin-bottom: 10px;
                grid-area: e;
                text-decoration: none !important;
                
                
                a{
                    text-decoration: none;;
                    
                }
                p{
                    color: white;
                    font-weight: 600;
                    font-size: 15px;
                    

                    span{
                        text-decoration: underline;
                        
                    }
                }
            }
     }

     .ft2{
        grid-area: ft2;
        display: grid;
        gap: 25px;
        grid-template-areas: 
        'sp sp sp sp sp sp'
        'fn fn fn ln ln ln'
        'em em em cm cm cm'
        'ms ms ms ms ms ms';
        width: 300px;

        .space{
            grid-area: sp;
             align-self: center;
           justify-self: center;
           width: 500px;
          

            p{display: none;
                font-weight: bold;
                font-size: 77px;color: white;
            }
               
        }

        .firstname{
            grid-area: fn;
            align-self: flex-end;
            

            .inputflex{
                display: flex;flex-direction: column;
                gap: 30px;
                height: 85%;
                justify-content: flex-end;
                margin-bottom: 30px;
                
                p{
                    color: white;
                    font-weight: bold;
                    font-size: 23px;
                }
            }

         

                .inflex{
                    display: flex;flex-direction: column;
                    gap: 10px;

                    label{
                        color: white;
                        font-size: 18px;
                        font-weight: 100;
                    }

                    input{
                        background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
                        outline: none;
                    }
                }
            
        }

        .lastname{
            grid-area: ln;
            align-self: flex-end;

            .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            input{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                        color: white;
                        caret-color: white;
                        font-size: 16px;
                        outline: none;
            }
            }

          
        }

        .email{
            grid-area: em;

            .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            input{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
                        outline: none;
            }
            }
        }

        .company{
            grid-area: cm;
             .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            input{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
                        outline: none;
            }
            }
            
        }

        .message{
            grid-area: ms;

            .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;
                    margin-top: -100px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            textarea{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 20px;
                        padding: 0px 20px;
                        width: 505px;
                        height: 100px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
                        resize: none;
                        outline: none;
                        
            }
            button{
                 width: 250px;
            padding: 10px 20px;
            border: solid 0.5px white;
            border-radius: 50px;background-color: transparent;
            font-size: 20px;color: white;transition: 0.3s ease-in-out;
            margin-top: 5px;

            &:hover{
                background-color: rgb(217, 251, 153);
                @include mainColorFont();
                cursor: pointer;
            }
            }
            }
        }
     }
}













@media screen and (max-width: 1150px){
    section{
        .sectionMaindiv{
            width: 75%;
        }
    }
}


@media screen and (max-width: 1140px){
    
    header{
        padding: 0px 30px;


        .hdr1{
            width: 30%
        }
        .hdr2{width: 70%;
            nav{
                ul{
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px){
    section{
        .sectionMaindiv{
            width: 85%;
        }
    }
}

@media screen and (max-width: 830px){
    section{
        .sectionMaindiv{
            width: 95%;
        }
    }
}
@media screen and (max-width: 800px){
    
    header{
        .hdr2{padding-right: 10px;

            nav{
                display: none; 
            }
            label{
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 730px){
 .scrollup{
        right: 30px;
        bottom: 30px;
        

        i{
            width: 55px;height: 55px;
            font-size: 25px;
            background-color: #d9fb99d6;
        }
    }

    section{padding-top: 100px;
        .sectionMaindiv{gap: 50px;
            .otherrow{
                display: flex;flex-direction: column;
             

                .Pcolumn{gap: 0;width: 0;
                    .strat{
                        margin: 0 !important;
                    }
                }

                button{
                    width: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 513px){
    main{
        .ourservH{
            h1{
                font-size: 60px;
            }
        }
    }

    section{
      .sectionMaindiv{width: 100%;
       .servicesrow{
        width: 375px;
        gap: 5px;
        
         

        .otherrow{
            height: auto;
            
            width: 100px;
           
            
           .Pcolumn{width: 200px;
            p{
                width: 200px;
            }
           }
        }
       }
      }
    }
}

@media screen and (max-width: 420px){
    main{
        .ourservH{
          padding-left: 0;
          
            
               
            
        }
    }
}
@media screen and (max-width: 1215px){
    footer{
        grid-template-areas: 
        'ft2'
        'ft1';
        height: 1200px;;

        .ft1{
            .keeprising{
                p{
                    display: none;
                }
            }
        }
        .ft2{
            width: 100%;
            .space{
                justify-self: flex-start;
                p{
                    display: flex;
                    
                }
            }
            .message{
                .inflex{
                    margin-top: 0;
                    justify-self: center;
                }
            }
            .company{
                .inflex{
                    margin-top: 0;
                }
            }
            .email{
                .inflex{
                    justify-self: flex-end;
                }
            }
            .firstname{
                .inflex{
                    justify-self: flex-end;
                }

                .inputflex{
                    justify-self: flex-end;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .lstsectio{
       align-items: center;
    }
}


@media screen and (max-width: 510px){
    footer{
        .ft2{
            width: 100px;
            grid-template-areas: 
            'sp'
            'fn'
            'ln'
            'em'
            'cm'
            'ms';
            padding-left: 5px;

            .firstname{
                justify-self: flex-start;
                
                width: 85%;
                

                .inflex{
                    width: 100%;

                    input{
                        width: 350px;
                    }
                }
            }

            .email{
                justify-self: flex-start;
                 width: 85%;

                 .inflex{
                    width: 100%;

                    input{
                        width: 350px;
                    }
                }
            }
            .lastname{
                 justify-self: flex-start;
                 width: 85%;
                 

                 .inflex{
                    width: 100%;
                    

                    input{
                        width: 350px;
                    }
                }
            }
            .message{
                 justify-self: flex-start;
                 width: 85%;
                 

                 .inflex{
                    width: 100%;

                    textarea{
                        width: 350px;
                    }
                }
            }
            .company{
                 justify-self: flex-start;
                 width: 85%;

                 .inflex{
                    width: 100%;

                    input{
                        width: 350px;
                    }
                }
            }
            .space{
                width: 300px;
                p{
                    font-size: 45px;
                    width: 300px;
                }
            }
        }
        .ft1{
            width: 100px;
            .reach{
                margin-left: 0;
                
                width: 100%;
                .flexcolumn{
                    width: 100%;
                    justify-self: flex-start;
                    
                    .clmn{
                        
                        p{
                        font-size: 17px;
                        }
                    }
                }
            }
            .address{
                
                .dflex{
                    margin-left: -100px;
                    
                    p{
                        font-size: 17px;
                        width: 100px;
                        
                    }
                }
            }
            .socials{
                width: 100%;
                .socialsflex{align-self: flex-start;
                    width: 100%;
                    a{
                        p{
                            font-size: 17px;
                        }
                    }
                }
            }
            .faq{
                width: 0%;
                .faqflex{
                    
                    margin-left: -100px;
                    width: 125px;

                      a{
                        width: 120px;
                    }

                    p{
                        font-size: 17px;
                    }

                   
                }
            }
            .footerendp{
                
              align-self: flex-end;width: 350px;
                justify-self: start;
            }

        }
    }
}