*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

@mixin mainColorFont {
    color: #0732EF;
}
@mixin mainColorBck{
    background-color: #0732EF;
}
footer{
    @include mainColorBck();
    width: 100%;
    height: 800px;
    margin-top: 0px;
    display: grid;
    grid-template-areas:
     'ft1 ft2';

     .ft1{
        grid-area: ft1;
        display: grid;
        grid-template-areas: 
        'k k'
        'r d'
        's f'
        'e e';
       
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;

        .keeprising{
            grid-area: k;
           align-self: center;
           justify-self: center;
           width: 500px;
          

            p{
                font-weight: bold;
                font-size: 77px;color: white;
            }
           
        }
        .reach{
            grid-area: r;
            justify-self: flex-end;
            margin-left: -50px;
            align-self: center;

            .flexcolumn{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 300px;

                .rch{
                    color: white;
                    font-weight: bold;
                    font-size: 24px;
                }

                .clmn{
                    display: flex;flex-direction: column;

                    p{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
        .address{
            grid-area: d;
            justify-self: start;
            
            align-self: center;
            .dflex{
                display: flex;
                height: 110px;
                align-items: flex-end;

                 p{
                color: white;
                font-size: 20px;
                width: 200px;
            }
            }

           
        }
        .socials{
            grid-area: s;
            justify-self: end;

            .socialsflex{
                display: flex;flex-direction: column;
                gap: 5px;
                width: 300px;
                
                
                p{
                    color: white;
                    font-size: 20px;
                }
            }
        }
         .faq{
                grid-area: f;
                ;
                

                .faqflex{
                    display: flex;flex-direction: column;
                   
                    


                    p{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
            .footerendp{
                align-self: flex-end;
                justify-self: center;
                margin-bottom: 10px;
                grid-area: e;
                text-decoration: none !important;
                
                a{
                    text-decoration: none;;
                }
                p{
                    color: white;
                    font-weight: 600;
                    font-size: 15px;

                    span{
                        text-decoration: underline;
                    }
                }
            }
     }

     .ft2{
        grid-area: ft2;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        'sp sp sp sp sp sp'
        'fn fn fn ln ln ln'
        'em em em cm cm cm'
        'ms ms ms ms ms ms';
        width: 300px;

        .space{
            grid-area: sp;

               .inputflex{
                display: flex;flex-direction: column;
                gap: 30px;
                height: 85%;
                justify-content: flex-end;
                p{
                    color: white;
                    font-weight: bold;
                    font-size: 23px;
                }
            }
        }

        .firstname{
            grid-area: fn;
            align-self: flex-end;

         

                .inflex{
                    display: flex;flex-direction: column;
                    gap: 10px;

                    label{
                        color: white;
                        font-size: 18px;
                        font-weight: 100;
                    }

                    input{
                        background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
                    }
                }
            
        }

        .lastname{
            grid-area: ln;
            align-self: flex-end;

            .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            input{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                        color: white;
                        caret-color: white;
                        font-size: 16px;
            }
            }

          
        }

        .email{
            grid-area: em;

            .inflex{
                  display: flex;flex-direction: column;
                    gap: 10px;

                      label{
                 color: white;
                        font-size: 18px;
                        font-weight: 100;
            }
            input{
                       background-color: transparent;
                        border: solid white 0.6px;
                        border-radius: 30px;
                        padding: 0px 20px;
                        width: 240px;
                        height: 42px;
                           color: white;
                        caret-color: white;
                        font-size: 16px;
            }
            }
        }

        .company{
            grid-area: cm;
        }

        .message{
            grid-area: ms;
        }
     }
}