* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec4 {
  width: 100%;
  height: 1200px;
  background-color: rgb(188, 197, 242);
  position: relative;
  margin: 0;
}
.sec4 .imgdiv {
  position: absolute;
  display: flex;
  right: 150px;
  top: -230px;
}
.sec4 .sectionFirstimg img {
  width: 700px;
  height: 470px;
  border-radius: 30px;
}
.sec4 .sec4Maindiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  height: 1100px;
  align-items: center;
  justify-content: end;
}
.sec4 .sec4Maindiv .forp {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.sec4 .sec4Maindiv .forp .smthh {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.sec4 .sec4Maindiv .forp .smthh .bigpr {
  color: #0732EF;
  font-size: 75px;
  font-weight: bold;
}
.sec4 .sec4Maindiv .forp .smthh .smalpr {
  color: #0732EF;
  font-weight: bold;
  font-size: 25px;
}
.sec4 .sec4Maindiv .rowDiv {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 70%;
}
.sec4 .sec4Maindiv .rowDiv .zero {
  color: #0732EF;
  font-weight: bold;
  font-size: 78px;
  transition: 0.3s ease-in-out;
}
.sec4 .sec4Maindiv .rowDiv .zero:hover {
  transform: scale(1.2);
}
.sec4 .sec4Maindiv .rowDiv .parentofp {
  display: flex;
  gap: 100px;
}
.sec4 .sec4Maindiv .rowDiv .parentofp .anls {
  width: 230px;
}
.sec4 .sec4Maindiv .rowDiv .parentofp p {
  color: #0732EF;
  font-size: 19px;
  letter-spacing: 1px;
}
.sec4 .sec4Maindiv .bigline {
  height: 0.5px;
  width: 100%;
  background-color: #0732EF;
}

.sec42 {
  width: 100%;
  height: 900px;
  background-color: rgb(188, 197, 242);
  margin: 0;
  display: flex;
  align-items: self-start;
}
.sec42 .sec42maindiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: end;
  gap: 50px;
}
.sec42 .sec42maindiv .prow {
  display: flex;
  width: 70%;
  justify-content: center;
}
.sec42 .sec42maindiv .prow .pcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec42 .sec42maindiv .prow .pcontainer .bigpar {
  color: #0732EF;
  font-size: 75px;
  font-weight: bold;
}
.sec42 .sec42maindiv .prow .pcontainer .smalpar {
  color: #0732EF;
  font-size: 20px;
  width: 550px;
  letter-spacing: 1px;
}
.sec42 .sec42maindiv .sec42lastDiv {
  display: flex;
  gap: 50px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild {
  display: flex;
  flex-direction: column;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .stars {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .bgtxt {
  color: #0732EF;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 250px;
  line-height: 25px;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .jstp {
  color: #0732EF;
  font-weight: bold;
  font-size: 23px;
  padding-top: 50px;
}

.sec5 {
  width: 100%;
  height: 1100px;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sec5 .sec5frstrow {
  width: 70%;
  display: flex;
  height: 280px;
  justify-content: flex-start;
  align-items: flex-end;
}
.sec5 .sec5frstrow .sec5column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec5 .sec5frstrow .sec5column .bg {
  color: #0732EF;
  font-weight: bold;
  font-size: 80px;
}
.sec5 .sec5frstrow .sec5column .sml {
  color: #0732EF;
  font-size: 19px;
  letter-spacing: 1px;
}
.sec5 .calendarCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec5 .calendarCenter .calendarmaaindiv {
  border: solid 0.6px #0732EF;
  border-radius: 30px;
  height: 500px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  width: 1150px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 {
  width: 70%;
  height: 83%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part {
  display: flex;
  width: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row:hover .psvg {
  cursor: pointer;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row:hover .psvg .timezone, .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row:hover .psvg .chevron {
  opacity: 0.7;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row .pick {
  color: #0732EF;
  font-size: 23px;
  font-weight: bold;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row .psvg {
  align-items: flex-end;
  display: flex;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row .psvg .timezone {
  color: #0732EF;
  font-size: 15px;
  font-weight: 500;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row .psvg .chevron {
  color: #0732EF;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .line {
  height: 0.5px;
  background-color: #0732EF;
  width: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part {
  display: flex;
  width: 100%;
  height: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .mainpartchilds {
  width: 50%;
  height: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child {
  padding: 0px 25px;
  gap: 35px;
  display: flex;
  flex-direction: column;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .frchildtop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .frchildtop svg {
  color: #0732EF;
  cursor: pointer;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .frchildtop p {
  color: #0732EF;
  font-size: 21px;
  letter-spacing: 1px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar {
  display: flex;
  width: 100%;
  height: 90%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50px;
  align-items: center;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow .month {
  color: #0732EF;
  font-weight: 600;
  font-size: 15px;
  opacity: 0.7;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow .numbers {
  color: #0732EF;
  font-weight: 600;
  font-size: 16px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow .dotdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
  border-radius: 50px;
  color: #0732EF;
  font-weight: 600;
  font-size: 16px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow .dotdiv:hover {
  background-color: rgba(0, 0, 0, 0.0549019608);
  cursor: pointer;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child .actualcalendar .calendarrow .dotdiv .dot {
  width: 4px;
  height: 4px;
  background-color: #0732EF;
  border-radius: 20px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 30px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .sessionsdiv {
  display: flex;
  justify-content: center;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .sessionsdiv p {
  color: #0732EF;
  text-decoration: underline;
  font-size: 20px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .sessionsdiv p:hover {
  opacity: 0.7;
  cursor: pointer;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child p {
  color: #0732EF;
  font-size: 21px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow {
  display: flex;
  gap: 10px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow button {
  border: solid 0.6px #0732EF;
  border-radius: 30px;
  padding: 10px 50px;
  background-color: transparent;
  color: #0732EF;
  font-size: 15px;
  font-weight: bold;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow button:hover {
  background-color: rgba(0, 0, 0, 0.056);
  cursor: pointer;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow button:active {
  background-color: rgba(0, 0, 0, 0.104);
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 {
  width: 23%;
  height: 83%;
  display: flex;
  flex-direction: column;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .detailscolumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .detailscolumn p {
  color: #0732EF;
  font-size: 23px;
  font-weight: bold;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .detailscolumn .lineee {
  height: 0.5px;
  background-color: #0732EF;
  width: 100%;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .calendarend {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  gap: 5px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .calendarend .endP {
  color: #0732EF;
  font-size: 19px;
  letter-spacing: 1px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .calendarend .miniP {
  font-size: 14px;
  font-weight: bold;
  color: #0732EF;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .buttondiv {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 40px;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .buttondiv button {
  border: 0.7px solid #0732EF;
  border-radius: 30px;
  background-color: transparent;
  color: #0732EF;
  font-size: 20px;
  padding: 8px 100px;
  transition: 0.2s ease-in-out;
}
.sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .buttondiv button:hover {
  background-color: #0732EF;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.sec5 .sec5enddiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec5 .sec5enddiv .sec5endcolumn {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 40px;
}
.sec5 .sec5enddiv .sec5endcolumn .rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec5 .sec5enddiv .sec5endcolumn .rows .energator {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1.5px;
  font-size: 25px;
  color: #0732EF;
}
.sec5 .sec5enddiv .sec5endcolumn .rows .Helveior {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #0732EF;
  font-size: 40px;
  letter-spacing: -3px;
}
.sec5 .sec5enddiv .sec5endcolumn .rows .rodond {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 45px;
  color: #0732EF;
  letter-spacing: -4px;
}
.sec5 .sec5enddiv .sec5endcolumn .rows .ktilario {
  color: #0732EF;
  letter-spacing: -4px;
  font-size: 40px;
  font-weight: bold;
}
.sec5 .sec5enddiv .sec5endcolumn .rows .eternet {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #0732EF;
  font-style: normal;
  font-size: 35px;
}
.sec5 .sec5enddiv .sec5endcolumn .clients {
  color: #0732EF;
  font-weight: bold;
  font-size: 70px;
}

@media screen and (max-width: 1185px) {
  .sec5 .sec5enddiv .sec5endcolumn {
    width: 80%;
  }
}
@media screen and (max-width: 1032px) {
  .sec5 .sec5enddiv .sec5endcolumn .clients {
    font-size: 40px;
  }
  .sec5 .sec5enddiv .sec5endcolumn .rows {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .sec5 {
    padding-top: 100px;
  }
  .sec5 .calendarCenter .calendarmaaindiv {
    width: 900px;
    flex-direction: column;
    height: 750px;
    padding-top: 40px;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 {
    justify-content: center;
    align-items: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .detailscolumn {
    align-items: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .calendarend {
    align-items: center;
    width: 230px;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .buttondiv {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .sec4 .imgdiv {
    right: 50px;
    top: -100px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 600px;
    height: 350px;
  }
}
@media screen and (max-width: 980px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 870px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 95%;
    gap: 50px;
  }
  .sec4 .sec4Maindiv .rowDiv .parentofp {
    gap: 50px;
  }
  .sec42 .sec42maindiv .sec42lastDiv {
    gap: 10px;
  }
}
@media screen and (max-width: 850px) {
  .sec42 .sec42maindiv .prow {
    width: 100%;
  }
}
@media screen and (max-width: 810px) {
  .sec5 .calendarCenter .calendarmaaindiv {
    height: 1100px;
    width: 600px;
    padding-top: 80px;
    padding-bottom: 0;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child {
    width: 70%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child {
    width: 70%;
    align-items: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 {
    width: 70%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild2 .detailscolumn {
    width: 300px;
  }
}
@media screen and (max-width: 780px) {
  .sec42 {
    height: 1600px;
  }
  .sec42 .sec42maindiv .sec42lastDiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
@media screen and (max-width: 740px) {
  .sec4 .sec4Maindiv .rowDiv {
    gap: 150px;
    width: 80%;
  }
  .sec4 .sec4Maindiv .rowDiv .parentofp {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 680px) {
  .sec4 .imgdiv {
    right: 20px;
  }
}
@media screen and (max-width: 675px) {
  .sec4 .sec4Maindiv .forp .smthh {
    width: 90%;
  }
}
@media screen and (max-width: 632px) {
  .sec4 .imgdiv {
    right: 50px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 620px) {
  .sec5 .sec5frstrow {
    width: 100%;
    justify-content: center;
  }
  .sec5 .sec5frstrow .sec5column {
    width: 90%;
    gap: 10px;
  }
  .sec5 .sec5frstrow .sec5column .bg {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 90%;
    gap: 35px;
  }
  .sec42 .sec42maindiv .prow .pcontainer .bigpar {
    font-size: 50px;
  }
  .sec42 .sec42maindiv .prow .pcontainer .smalpar {
    width: 350px;
  }
  .sec5 .calendarCenter .calendarmaaindiv {
    width: 400px;
    padding-left: 0;
    padding-right: 0;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 {
    width: 100%;
    align-items: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row {
    justify-content: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .top-part .top-column .kide-row .psvg {
    display: none;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part {
    width: 90%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow button {
    font-size: 13px;
  }
}
@media screen and (max-width: 582px) {
  .sec4 .imgdiv {
    right: 20px;
  }
}
@media screen and (max-width: 530px) {
  .sec4 .sec4Maindiv {
    height: 1000px;
  }
}
@media screen and (max-width: 524px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 450px;
    height: 270px;
  }
}
@media screen and (max-width: 474px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 400px;
    height: 240px;
  }
}
@media screen and (max-width: 450px) {
  .sec4 .sec4Maindiv .forp .smthh {
    width: 100%;
  }
  .sec4 .sec4Maindiv .rowDiv {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .sec4 .imgdiv {
    right: 5px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 360px;
    height: 210px;
  }
  .sec4 .sec4Maindiv .rowDiv .zero {
    font-size: 60px;
  }
}
@media screen and (max-width: 405px) {
  .sec4 .sec4Maindiv .rowDiv .parentofp p {
    font-size: 16px;
    width: 150px !important;
  }
}
@media screen and (max-width: 400px) {
  .sec5 .calendarCenter .calendarmaaindiv {
    width: 375px;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part {
    width: 90%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .fr-child {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn {
    width: 100%;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow {
    width: 100%;
    justify-content: center;
  }
  .sec5 .calendarCenter .calendarmaaindiv .calendarchild1 .main-part .sc-child .timecolumn .buttonrow button {
    font-size: 13px;
    padding: 10px 20px;
  }
}/*# sourceMappingURL=lastsections.css.map */