* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec4 {
  width: 100%;
  height: 1200px;
  background-color: rgb(188, 197, 242);
  position: relative;
  margin: 0;
}
.sec4 .imgdiv {
  position: absolute;
  display: flex;
  right: 150px;
  top: -230px;
}
.sec4 .sectionFirstimg img {
  width: 700px;
  height: 470px;
  border-radius: 30px;
}
.sec4 .sec4Maindiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  height: 1100px;
  align-items: center;
  justify-content: end;
}
.sec4 .sec4Maindiv .forp {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.sec4 .sec4Maindiv .forp .smthh {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.sec4 .sec4Maindiv .forp .smthh .bigpr {
  color: #0732EF;
  font-size: 75px;
  font-weight: bold;
}
.sec4 .sec4Maindiv .forp .smthh .smalpr {
  color: #0732EF;
  font-weight: bold;
  font-size: 25px;
}
.sec4 .sec4Maindiv .rowDiv {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 70%;
}
.sec4 .sec4Maindiv .rowDiv .zero {
  color: #0732EF;
  font-weight: bold;
  font-size: 78px;
  transition: 0.3s ease-in-out;
}
.sec4 .sec4Maindiv .rowDiv .zero:hover {
  transform: scale(1.2);
}
.sec4 .sec4Maindiv .rowDiv .parentofp {
  display: flex;
  gap: 100px;
}
.sec4 .sec4Maindiv .rowDiv .parentofp .anls {
  width: 230px;
}
.sec4 .sec4Maindiv .rowDiv .parentofp p {
  color: #0732EF;
  font-size: 19px;
  letter-spacing: 1px;
}
.sec4 .sec4Maindiv .bigline {
  height: 0.5px;
  width: 100%;
  background-color: #0732EF;
}

.sec42 {
  width: 100%;
  height: 900px;
  background-color: rgb(188, 197, 242);
  margin: 0;
  display: flex;
  align-items: self-start;
}
.sec42 .sec42maindiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: end;
  gap: 50px;
}
.sec42 .sec42maindiv .prow {
  display: flex;
  width: 70%;
  justify-content: center;
}
.sec42 .sec42maindiv .prow .pcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec42 .sec42maindiv .prow .pcontainer .bigpar {
  color: #0732EF;
  font-size: 75px;
  font-weight: bold;
}
.sec42 .sec42maindiv .prow .pcontainer .smalpar {
  color: #0732EF;
  font-size: 20px;
  width: 550px;
  letter-spacing: 1px;
}
.sec42 .sec42maindiv .sec42lastDiv {
  display: flex;
  gap: 50px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild {
  display: flex;
  flex-direction: column;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .stars {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .bgtxt {
  color: #0732EF;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 250px;
  line-height: 25px;
}
.sec42 .sec42maindiv .sec42lastDiv .lastchild .jstp {
  color: #0732EF;
  font-weight: bold;
  font-size: 23px;
  padding-top: 50px;
}

.sec5 {
  width: 100%;
  height: 900px;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.sec5 .sec5frstrow {
  width: 70%;
  display: flex;
  height: 280px;
  justify-content: flex-start;
  align-items: flex-end;
}
.sec5 .sec5frstrow .sec5column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec5 .sec5frstrow .sec5column .bg {
  color: #0732EF;
  font-weight: bold;
  font-size: 80px;
}
.sec5 .sec5frstrow .sec5column .sml {
  color: #0732EF;
  font-size: 19px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1000px) {
  .sec4 .imgdiv {
    right: 50px;
    top: -100px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 600px;
    height: 350px;
  }
}
@media screen and (max-width: 980px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 870px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 95%;
    gap: 50px;
  }
  .sec4 .sec4Maindiv .rowDiv .parentofp {
    gap: 50px;
  }
  .sec42 .sec42maindiv .sec42lastDiv {
    gap: 10px;
  }
}
@media screen and (max-width: 850px) {
  .sec42 .sec42maindiv .prow {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .sec42 {
    height: 1600px;
  }
  .sec42 .sec42maindiv .sec42lastDiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
@media screen and (max-width: 740px) {
  .sec4 .sec4Maindiv .rowDiv {
    gap: 150px;
    width: 80%;
  }
  .sec4 .sec4Maindiv .rowDiv .parentofp {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 680px) {
  .sec4 .imgdiv {
    right: 20px;
  }
}
@media screen and (max-width: 675px) {
  .sec4 .sec4Maindiv .forp .smthh {
    width: 90%;
  }
}
@media screen and (max-width: 632px) {
  .sec4 .imgdiv {
    right: 50px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .sec4 .sec4Maindiv .rowDiv {
    width: 90%;
    gap: 35px;
  }
  .sec42 .sec42maindiv .prow .pcontainer .bigpar {
    font-size: 50px;
  }
  .sec42 .sec42maindiv .prow .pcontainer .smalpar {
    width: 350px;
  }
}
@media screen and (max-width: 582px) {
  .sec4 .imgdiv {
    right: 20px;
  }
}
@media screen and (max-width: 530px) {
  .sec4 .sec4Maindiv {
    height: 1000px;
  }
}
@media screen and (max-width: 524px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 450px;
    height: 270px;
  }
}
@media screen and (max-width: 474px) {
  .sec4 .imgdiv .sectionFirstimg img {
    width: 400px;
    height: 240px;
  }
}
@media screen and (max-width: 450px) {
  .sec4 .sec4Maindiv .forp .smthh {
    width: 100%;
  }
  .sec4 .sec4Maindiv .rowDiv {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .sec4 .imgdiv {
    right: 5px;
  }
  .sec4 .imgdiv .sectionFirstimg img {
    width: 360px;
    height: 210px;
  }
  .sec4 .sec4Maindiv .rowDiv .zero {
    font-size: 60px;
  }
}
@media screen and (max-width: 405px) {
  .sec4 .sec4Maindiv .rowDiv .parentofp p {
    font-size: 16px;
    width: 150px !important;
  }
}/*# sourceMappingURL=lastsections.css.map */