*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

@mixin mainColorFont {
    color: #0732EF;
}
@mixin mainColorBck{
    background-color: #0732EF;
}

.sec4{
    width: 100%;
    height: 1200px;
    background-color: rgb(188, 197, 242);
    position: relative;margin: 0;

    .imgdiv{
          position: absolute;display: flex;
     right: 150px;
        top: -230px;;
    }
    .sectionFirstimg{

        img{
             width: 700px ;height: 470px;
                border-radius: 30px;;
        }
    }

    .sec4Maindiv{
        display: flex;flex-direction: column;
        width: 100%;gap: 40px;
        height: 1100px;
        align-items: center;
        justify-content: end;
        

        
        .forp{
           width: 100%;
    
           display: flex;
           justify-content: center;
           padding-bottom: 75px;

            .smthh{
                 display: flex;flex-direction: column;
            gap: 30px;width: 70%;
            // background-color: #0732EF;

                 .bigpr{
            @include mainColorFont();
            font-size: 75px;
            font-weight: bold;

        }

        .smalpr{
            @include mainColorFont();
            font-weight: bold;
            font-size: 25px;
        }
            }


            
        }

        .rowDiv{
            display: flex;align-items: center;
            gap: 100px;
           
            width: 70%;
            .zero{
                @include mainColorFont();
                font-weight: bold;
                font-size: 78px;
                transition: 0.3s ease-in-out;

                &:hover{
                    
                    transform: scale(1.2);
                }
            }

            .parentofp{
                display: flex;gap: 100px;
               

                .anls{
                    width: 230px;
                }

                p{
                    @include mainColorFont();
                    font-size: 19px;
                    letter-spacing: 1px;

                }
            }
        }
       
        .bigline{
            height: 0.5px;width: 100%;
            @include mainColorBck();
        }
    }
}

.sec42{
    width: 100%;
    height: 900px;
    background-color: rgb(188, 197, 242);
    margin: 0;
    display: flex;
    align-items: self-start;
   

    .sec42maindiv{
        width: 100%;
        display: flex;flex-direction: column;
        height: 800px;
        justify-content: end;
        gap: 50px;
        

        .prow{display: flex;width: 70%;
            justify-content: center;


              .pcontainer{
            display: flex;flex-direction: column;
            gap: 30px;

            .bigpar{
                @include mainColorFont();
                font-size: 75px;
                font-weight: bold;
            }
                .smalpar{
                    @include mainColorFont();
                    font-size: 20px;
                    width: 550px;
                    letter-spacing: 1px;
                }
        }
        }

        .sec42lastDiv{
            display: flex;
            gap: 50px;
            height: 500px;
            justify-content: center;
            align-items: center;

            .lastchild{
                display: flex;flex-direction: column;

                img{
                    width: 60px;height: 60px;border-radius: 50px;
                }

                .stars{
                    width: 100px;
                    height: 100px;
                    margin: 0;
                    padding: 0;
                }
                .bgtxt{
                    @include mainColorFont();
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    width: 250px;
                    line-height: 25px;
                }

                .jstp{
                    @include mainColorFont();
                    font-weight: bold;
                    font-size: 23px;
                    padding-top: 50px;
                }
            }
        }
      
    }
}


.sec5{
    width: 100%;
    height: 1100px;
    margin: 0;
    background-color: #ffffff;
    display: flex;flex-direction: column;
    gap: 50px;

    .sec5frstrow{
        width: 70%;
        display: flex;
        height: 280px;;
        justify-content: flex-start;
        // background-color: red;
        align-items: flex-end;

        .sec5column{
            display: flex;flex-direction: column;
            gap: 40px;

             .bg{
            @include mainColorFont();
            font-weight:  bold;
            font-size: 80px;
        }

        .sml{
            @include mainColorFont();
            font-size: 19px;;
            letter-spacing: 1px;;
        }
        }

       
    }
    .calendarCenter{
        width: 100%;
        display: flex;;
        justify-content: center;

         .calendarmaaindiv{
        border: solid 0.6px #0732EF;
        border-radius: 30px;
        ;height: 500px;display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        width: 1150px;
        // width: 77%

        .calendarchild1{
            width: 70%;
            height: 83%;
            // border: solid 0.7px red;
            display: flex;
            flex-direction: column;
            gap: 25px;
            
            

            .top-part{
                display: flex;
                width: 100%;

                .top-column{
                    display: flex;flex-direction: column;
                    width: 100%;gap: 5px;

                    .kide-row{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        &:hover{
                            .psvg{cursor: pointer;
                                .timezone, .chevron{
                                    opacity: 0.7;
                                    
                                }
                            }
                        }

                        .pick{
                             color:#0732EF;
                            font-size: 23px;
                            font-weight: bold;

                        }

                        .psvg{
                            align-items: flex-end;
                            display: flex;
                               .timezone{
                             color:#0732EF;
                            font-size: 15px;
                            font-weight: 500;
                        }

                        .chevron{
                            color:#0732EF;
                        }
                        }

                     
                    }

                    .line{
                        height: 0.5px;background-color: #0732EF;
                        width: 100%;
                    }
                }
            }
            .main-part{
                display: flex;
                width: 100%;
                height: 100%;
                
                
                

                .mainpartchilds{
                    width: 50%;
                    height: 100%;
                    
                }

                .fr-child{
                   
                    padding: 0px 25px;
                    gap: 35px;
                    display: flex;flex-direction: column;

                    .frchildtop{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        // padding: 0px 25px;
                        

                        svg{
                            color:#0732EF;
                            cursor: pointer;
                        }
                        p{
                            color:#0732EF;
                            font-size: 21px;
                            letter-spacing: 1px;
                        }
                    }

                    .actualcalendar{
                        display: flex;
                        width: 100%;
                        height: 90%;
                        
                        
                        // gap: 1px;

                        .calendarrow{
                            display: flex;
                            flex-direction: column;
                            
                            gap: 10px;
                            width: 50px;
                            align-items: center;

                            .month{
                                color:#0732EF;
                                font-weight: 600;
                                font-size: 15px;
                                opacity: 0.7;
                            }
                            .numbers{
                                 color:#0732EF;
                                font-weight: 600;
                                font-size: 16px;
                            }
                            .dotdiv{
                                display: flex;flex-direction: column;
                                align-items: center;
                                padding: 6px 12px;;border-radius: 50px;
                                
                                &:hover{
                                    background-color: #0000000e;
                                    cursor: pointer;
                                }
                                
                                 color:#0732EF;
                                font-weight: 600;
                                font-size: 16px;
                              
                                
                                .dot{
                                    width: 4px;height: 4px;
                                    background-color: #0732EF;
                                    border-radius: 20px;
                                }
                            }
                        }
                       
                    }
                }
                .sc-child{
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    gap: 30px;

                    .sessionsdiv{
                        display: flex;justify-content: center;

                        p{
                            color:#0732EF;
                            text-decoration: underline;
                            font-size: 20px;

                            &:hover{
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }
                    }

                    p{
                        color:#0732EF;
                        font-size: 21px;
                    }

                    .timecolumn{
                        display: flex;flex-direction: column;
                        gap: 10px;
                        


                        .buttonrow{
                            display: flex;
                            gap: 10px;;

                            button{
                                border: solid 0.6px #0732EF;
                                border-radius: 30px;
                                padding: 10px 50px;
                                background-color: transparent;
                                color:#0732EF;
                                font-size: 15px; 
                                font-weight: bold;

                                &:hover{
                                    background-color: rgba(0, 0, 0, 0.056);
                                    cursor: pointer;
                                    
                                }
                                &:active{
                                    background-color: rgba(0, 0, 0, 0.104);
                                }
                            }
                        }
                    }
                }
            }
        }
        .calendarchild2{
            width: 23%;
            height: 83%;
            display: flex;flex-direction: column;
            // border: solid 0.7px blue;

            .detailscolumn{
                 display: flex;flex-direction: column;
                 gap: 5px;
                 
                p{color:#0732EF;
                  font-size: 23px;
                  font-weight: bold;
                }

                .lineee{
                    height: 0.5px;background-color: #0732EF;
                        width: 100%;
                }
            }
            .calendarend{
                display: flex;flex-direction: column;
                padding-top: 25px;
                gap: 5px;
                

                .endP{
                    color:#0732EF;
                    font-size: 19px;
                    letter-spacing: 1px;;
                }

                .miniP{
                    font-size: 14px;
                    font-weight: bold;
                    color:#0732EF;
                }
            }
            .buttondiv{
                display: flex;width: 100%;
                align-items: center;
                padding-top: 40px;

                button{
                    border: 0.7px solid #0732EF;
                    border-radius: 30px;
                    background-color: transparent;
                    color:#0732EF;
                    font-size: 20px;
                    padding: 8px 100px;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        background-color: #0732EF;
                        color: white;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    }

    .sec5enddiv{
        width: 100%;
        display: flex;
        justify-content: center;
        


        .sec5endcolumn{
            display: flex;flex-direction: column;
            width: 70%;
            gap: 40px;
            

            .rows{
                display: flex;justify-content: space-between;
                align-items: center;

                 .energator{
            font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1.5px;
  font-size: 25px;;
  @include mainColorFont();
            }

                .Helveior{
                    
                     font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   @include mainColorFont();
   font-size: 40px;;
   letter-spacing: -3px;
                }

                .rodond{
                     font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 45px;@include mainColorFont();
  letter-spacing: -4px;
                }

                .ktilario{
                    @include mainColorFont();
                    letter-spacing: -4px;
                    font-size: 40px;
                    font-weight: bold;
                }

                .eternet{
                    font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;@include mainColorFont();
  font-style: normal;
  font-size: 35px;
                }
            }

            .clients{
                @include mainColorFont();
                font-weight: bold;
                font-size: 70px;
            }

           
        }
    }
    
}

@media screen and (max-width: 1380px){
    .sec4{
        .imgdiv{
            top: -190px;
        }
    }
}



@media screen and (max-width: 1185px){
    .sec5{
        .sec5enddiv{
            .sec5endcolumn{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 1032px){
    .sec5{
        .sec5enddiv{
            .sec5endcolumn{
                .clients{
                    font-size: 40px;
                }
                .rows{
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media screen and (max-width: 1150px){
    .sec5{padding-top: 100px;margin-bottom: 200px;
        .calendarCenter{
            .calendarmaaindiv{
                width: 900px;flex-direction: column;
                height: 750px;
                padding-top: 40px;
               
                .calendarchild1{
                    width: 100%;
                }

                .calendarchild2{
                    justify-content: center;
                    align-items: center;
                    .detailscolumn{
                        align-items: center;
                    }
                    .calendarend{
                        align-items: center;
                        width: 230px;
                    }
                    .buttondiv{
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1000px){
    
    .sec4{
        .imgdiv{
            right: 50px;
            top: -100px;
            
            .sectionFirstimg{
               img{
                width: 600px;height: 350px;
               }
            }
        }
    }
}
@media screen and (max-width: 980px){
    .sec4{
        .sec4Maindiv{
            .rowDiv{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 900px){
    .sec4{
        .imgdiv{
            .sectionFirstimg{
                img{
                    width: 500px;
                    height: 300px;
                }
            }
        }
    }
}
@media screen and (max-width: 870px){
    .sec4{
        .sec4Maindiv{
            .rowDiv{
                width: 95%;
                gap: 50px;

                .parentofp{
                    gap: 50px;
                }
            }
        }
    }

    .sec42{


        .sec42maindiv{

            .sec42lastDiv{
                gap: 10px;
            }
        }
    }
}
@media screen and (max-width: 850px){
    .sec42{
        .sec42maindiv{
            .prow{
               width: 100%;
            }
        }
    }
}
@media screen and (max-width: 810px){
    .sec5{margin-bottom: 500px;;
        .calendarCenter{
            .calendarmaaindiv{
                height: 1100px;
                width: 600px;
                padding-top: 80px;
                padding-bottom: 0;
                .calendarchild1{
                    .main-part{
                        flex-direction: column;
                        align-items: center;
                        gap: 70px;

                        .fr-child{
                            width: 70%;
                        }

                        .sc-child{
                            width: 70%;
                            align-items: center;
                            
                        }
                    }
                }
                .calendarchild2{
                    
                    width: 70%;
                    .detailscolumn{
                        width: 300px;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px){
    .sec42{
        height: 1600px;
        .sec42maindiv{
           
            .sec42lastDiv{
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
        }
    }
}
@media screen and (max-width: 740px){
    .sec4{
        .sec4Maindiv{
            .rowDiv{
                gap: 150px;
                width: 80%;

                .parentofp{
                    display: flex;flex-direction: column;
                    gap: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 680px){
    .sec4{
        .imgdiv{
            right: 20px;
        }
    }
}
@media screen and (max-width: 675px){
    .sec4{
        .sec4Maindiv{
            .forp{
                .smthh{
                    width: 90%;
                }
            }
        }
    }
}
@media screen and (max-width: 632px){
    .sec4{
        .imgdiv{
            right: 50px;
            .sectionFirstimg{
                img{
                    width: 500px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 620px){
    .sec5{
        .sec5frstrow{
           
            width: 100%;
            justify-content: center;
            
            .sec5column{
                width: 90%;
                gap: 10px;
                
                .bg{
                    font-size: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .sec4{
        .sec4Maindiv{
            .rowDiv{
                width: 90%;
                gap: 35px;
            }
        }
    }
    .sec42{
        .sec42maindiv{
            .prow{
                .pcontainer{

                    .bigpar{
                        font-size: 50px;
                    }
                    .smalpar{
                        width: 350px;
                    }
                }
            }
        }
    }

    .sec5{
        .calendarCenter{
            .calendarmaaindiv{
                width: 400px;
                padding-left: 0;padding-right: 0;

                .calendarchild1{
                    width: 100%;
                    align-items: center;
                    .top-part{
                        .top-column{
                            .kide-row{
                                justify-content: center;
                                .psvg{
                                    display: none;
                                }
                            }
                        }
                    }
                    .main-part{
                        width: 90%;
                        
                        .fr-child{
                            width: 100%;
                           
                        }
                        .sc-child{
                            width: 100%;

                            .timecolumn{
                                width: 100%;

                                .buttonrow{
                                    width: 100%;

                                    button{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 590px){
    .sec5{
        margin-bottom: 600px;
    }
}

@media screen and (max-width: 582px){
    
    .sec4{
        .imgdiv{
            right: 20px;
        }
         
    }
}
@media screen and (max-width: 530px){
    .sec4{
        .sec4Maindiv{
            height: 1000px;
        }
    }
}
@media screen and (max-width: 524px){
    .sec4{
        .imgdiv{

            .sectionFirstimg{

                img{
                    width: 450px;
                    height: 270px;
                }
            }
        }
    }
}
@media screen and (max-width: 474px){
    .sec4{
        .imgdiv{
            .sectionFirstimg{

                img{
                    width: 400px;
                    height: 240px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .sec4{
        .sec4Maindiv{
            .forp{
                .smthh{
                    width: 100%;
                }
            }
            .rowDiv{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 430px){
    .sec4{
        .imgdiv{
            right: 5px;
            .sectionFirstimg{

                img{
                    width: 360px;
                    height: 210px;
                }
            }
        }
    }

    .sec4{
    .sec4Maindiv{
        .rowDiv{
            .zero{
                font-size: 60px;
            }
        }
    }
}
}

@media screen and (max-width: 405px){
    .sec4{
        .sec4Maindiv{
            .rowDiv{
                .parentofp{
                    p{
                        font-size: 16px;
                        width: 150px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    .sec5{
        .calendarCenter{
            .calendarmaaindiv{
                width: 375px;

                .calendarchild1{
                    .main-part{
                        width: 90%;
                        
                        .fr-child{
                            width: 100%;
                           
                        }
                        .sc-child{
                            width: 100%;

                            .timecolumn{
                                width: 100%;
                                

                                .buttonrow{
                                    width: 100%;
                                    justify-content: center;

                                    button{
                                        font-size: 13px;
                                        padding: 10px 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


